<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section id="contact" class="m-5 p-5">
      <div class="container">
        <h1 class="text-center">CONTACT SECTION</h1>
        <div class="d-flex align-items-center justify-content-center">
          <div class="line me-3" style="background-color: black"></div>
          <i class="fa-solid text-black fa-star"></i>
          <div class="line ms-3" style="background-color: black"></div>
          <br />
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="username" class="form-label">userName</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    aria-describedby="helpId"
                    placeholder="username"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="userage" class="form-label">userAge</label>
                  <input
                    type="text"
                    class="form-control"
                    name="userage"
                    id="userage"
                    aria-describedby="helpId"
                    placeholder="userAge"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="useremail" class="form-label">userEmail</label>
                  <input
                    type="text"
                    class="form-control"
                    name="useremail"
                    id="useremail"
                    aria-describedby="helpId"
                    placeholder="userEmail"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="userpassword" class="form-label"
                    >userPassword</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="userpassword"
                    id="userpassword"
                    aria-describedby="helpId"
                    placeholder="userPassword"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
