<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="my-card-layer d-none position-fixed"></div>
    <section id="portfolio" class="p-5">
      <div class="container position-relative text-center">
        <div class="title pb-3 fw-bolder"><h2>PORTFOLIO COMPONENT</h2></div>
        <div class="row gx-4 gy-4">
          <div class="col-md-4">
            <div class="item position-relative">
              <div class="layer position-absolute">
                <i class="fa-solid fa-plus"></i>
              </div>
              <img
                src="./assets/images/poert1.png"
                class="w-100 rounded-4 overflow-hidden"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="item position-relative">
              <div class="layer position-absolute">
                <i class="fa-solid fa-plus"></i>
              </div>
              <img
                src="./assets/images/port2.png"
                class="w-100 rounded-4 overflow-hidden"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="item position-relative">
              <div class="layer position-absolute">
                <i class="fa-solid fa-plus"></i>
              </div>
              <img
                src="./assets/images/port3.png"
                class="w-100 rounded-4 overflow-hidden"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="item position-relative">
              <div class="layer position-absolute">
                <i class="fa-solid fa-plus"></i>
              </div>
              <img
                src="./assets/images/poert1.png"
                class="w-100 rounded-4 overflow-hidden"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="item position-relative">
              <div class="layer position-absolute">
                <i class="fa-solid fa-plus"></i>
              </div>
              <img
                src="./assets/images/port2.png"
                class="w-100 rounded-4 overflow-hidden"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="item position-relative">
              <div class="layer position-absolute">
                <i class="fa-solid fa-plus"></i>
              </div>
              <img
                src="./assets/images/port3.png"
                class="w-100 rounded-4 overflow-hidden"
                alt=""
              />
            </div>
          </div>
        </div>
        <div
          class="my-card d-none justify-content-center position-fixed"
        >
          <div class="clicked-item">
            <div class="row justify-content-center">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12">
                    <img
                      [src]="myImage"
                      class="w-100 rounded-4 overflow-hidden"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
